{% extends 'base.html' %}

{% load static %}

{% block content %}

<center>
    <h1 style="font-family: lucida sans; color: #3c3e3f;">PASCASARJANA</h1>
</center>
<center>
<h3 style="font-family:'Lucida Sans Regular'; color: #3c3e3f;">"Terwujudnya Integrated Smart and Green (It'S Green) Pascasarjana UNTIRTA</h3>
</center>
<center>
    <h3 style="font-family:'Lucida Sans Regular'; color: #3c3e3f;">yang UNGGUL, BERKARAKTER, dan BERDAYA SAING di Kawasan ASEAN Tahun 2030."</h3>
</center>
<hr>
<hr>
<h2 style="font-family:'Lucida Grande'; color: #3c3e3f;">Program Pascasarjana</h2>

{{ title }}
{{ penjelasan }}

<p>Ptogram studi Pascasarjana antara lain:</p>
<ul>
    <li>Administrasi Publik</li>
    <li>Akuntansi</li>
    <li>Doktor Pendidikan</li>
    <li>Doktor Ilmu Akuntansi</li>
    <li>Doktor Ilmu Pertanian</li>
    <li>Magister Administrasi Publik</li>
    <li>Magister Akuntansi</li>
    <li>Magister Ekonomi</li>
    <li>Magister Ilmu Hukum</li>
    <li>Magister Ilmu Komunikasi</li>
    <li>Magister Ilmu Pertanian</li>
    <li>Magister Manajemen</li>
    <li>Magister Pendidikan Dasar</li>
    <li>Magister Teknik Kimia</li>
    <li>Pendidikan Bahasan Indonesia</li>
    <li>Pendidikan Bahasan Inggris</li>
    <li>Pendidikan Matematika</li>
    <li>Teknologi Pendidikan</li>
</ul>

{% endblock %}