{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><h1>Universitas Sultan Ageng Tirtayasa</h1></center>
<hr>
<h2>Sejarah Singkat</h2>
<p >Sejarah Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. Pendirian yayasan ini dikukuhkan berdasarkan Akte Notaris Rosita Wibisono, SH. No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986. Maksud dan tujuan pendirian yayasan ini adalah:</p>
<ul>
    <li>Membantu usaha-usaha pemerintah dalam bidang pendidikan umum.</li>
    <li>Mendirikan sekolah-sekolah mulai dari taman kanak-kanak sampai dengan perguruan tinggi, termasuk juga sekolah-sekolah kejuruan.</li>
    <li>Merencanakan dan mengusahakan sarana pendidikan serta sarana olahraga.</li>
</ul>
<p style="text-align: justify;">Universitas Sultan Ageng Tirtayasa disingkat Untirta, adalah PTN (Perguruan Tinggi Negeri) yang terdapat di Provinsi Banten, Indonesia. Dengan kampus utama di Serang, kampus Fakultas Teknik yang berada di Cilegon dan Fakultas Keguruan yang berada di Ciwaru. Universitas Sultan Ageng Tirtayasa menawarkan pengalaman akademik dan nonakademik yang luas, yang mencakup lingkungan, budaya sekaligus juga kesempatan akademik. Universitas Sultan Ageng Tirtayasa memiliki 7 fakultas dan 1 Program Pendidikan Magister (Pascasarjana).</p>
<hr>
<hr>

<h2>Visi dan Misi UNTIRTA Tahun 2019-2023</h2>
<h3>Visi</h3>
<p style="text-align: justify;">Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It’S Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030.</p>

<h3>Misi</h3>
<ol style="text-align: justify;">
    <li>Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN.</li>
    <li>Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman.</li>
    <li>Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University.</li>
</ol>

<p style="text-align: justify;"><b>Value JAWARA (Jujur Adil Wibawa Amanah Religius Akuntabel)</b> “UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)</p>
<hr>
<hr>

<h3>Program Sarjana</h3>
<p style="text-align: justify;">Program sarjana bisa diikuti oleh lulusan SMA/SMK/MA/MAK, mempunyai beban studi 144-160 sks.</p>
<br>

<h3>Program Pascasarjana</h3>
<p style="text-align: justify;">UNTIRTA menawarkan program studi lanjutan di tingkat S2 dan S3 yang diselenggarakan di fakultas serta sekolah Pascasarjana.</p>

<br>
<hr>
<b><p style="text-align: center;">Jl. Raya Palka KM 3 Sindangsari, Pabuaran, Kab. Serang, Provinsi Banten.</p>
    <p style="text-align: center;">Telp: +62254 3204321</p>
    <p style="text-align: center;"> Fax : +62254 281254</p>
    <p style="text-align: center;">Email : humas@untirta.ac.id</p>
</b>

{% endblock %}