{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--Beranda-->
<section id="beranda">
    <div class="container">
        <div class="col-3">
            
            <br>
            <hr>
            <h3 style="color: #3c3e3f;">PROFIL DEVELOPER</h3>
    <hr>
    <br>
    <table style="color: #3c3e3f;" cellpadding="5" width="800">
        <tr>
            <td>NIM</td>
            <td>: 2225210052</td>
            <td rowspan="5" align="center"><img src="\static\images\Asma.jpg" width="200"></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>: Asma</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>: Banten, Indonesia</td>
        </tr>
        <tr>
            <td>Riwayat Pendidikan</td>
            <td>: S1 Pendidikan Matematika Untirta </td>
        </tr>
    </table>
    <br>
    <br>
    <hr>
    <hr>

    <h3 style="color: #3c3e3f;">PROFIL PENGAMPU</h3>
    <hr>
    <br>
    <table style="color: #3c3e3f;" cellpadding="5" width="800">
        <tr>
            <td>Nama</td>
            <td>: Dr. Aan Hendrayana</td>
        </tr>
        <tr>
            <td>Dosen Pengampu Mata Kuliah</td>
            <td>: Teknologi Informasi dan Komunikasi untuk Pembelajaran</td>
        </tr>
    </table>
        </div>
    </div>
</section>
{% endblock %}